// ./common/_variables/_fonts.scss
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Amiri:400,400italic,700,700italic);
$font-family-sans: "Oxygen",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$font-family-serif: "Amiri",
Georgia,
"Times New Roman",
Times,
serif;

$font-size-default: 1em;
$font-size-sm: .8em;
$font-size-md: 1em;
$font-size-lg: 1.2em;
