// ./common/_variables/_spacing-units.scss
$spacing-unit: 16px;
$spacing-unit-md: $spacing-unit * 2;
$spacing-unit-lg: $spacing-unit * 3;
$spacing-unit-sm: $spacing-unit / 2;
$spacing-unit-xs: $spacing-unit / 4;
